.mgs-error, .error, .required {
	color : #dd4b39 !important;
}
.f-right {
	float: right;
}
.f-left {
	float: left;
}
.m-left-3 {
	margin-left: 3px;
}
.jsDisabled {
	display: none !important;
}
.text-center {
	text-align: center;
}
.w-20 {
	width: 20px;
}
.w-30 {
	width: 30px;
}
.w-50 {
	width: 50px;
}
.w-100 {
	width: 100px;
}
.w-150 {
	width: 150px;
}
.w-200 {
	width: 200px;
}
.w-250 {
	width: 250px;
}
.w-300 {
	width: 300px;
}
.w-350 {
	width: 350px;
}
.w-400 {
	width: 400px;
}
.w-200-h-150 {
	width: 200px;
	height: 150px;
}
.p-t-10 {
	padding-top: 10px;
}
.t-center {
	text-align: center;;
}
.p-10 {
	padding: 10px;
}
.p-3 {
	padding: 3px;
}

/*Trees checkbox*/
ul { 
  list-style: none;
}

.treeview li {
  background: url(http://jquery.bassistance.de/treeview/images/treeview-default-line.gif) 0 0 no-repeat;
}

.treeview > li:first-child > label {
  /* style for the root element - IE8 supports :first-child
  but not :last-child ..... */
  
}

.treeview li.last {
  background-position: 0 -1766px;
}

.treeview li > input {
  height: 16px;
  width: 16px;
  /* hide the inputs but keep them in the layout with events (use opacity) */
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */ 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.treeview li > label {
  background: url(http://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
  /* move left to cover the original checkbox area */
  margin-left: -20px;
  /* pad the text to make room for image */
  padding-left: 20px;
}

/* Unchecked styles */

.treeview .unchecked {
  background-position: 0 -1px;
}
.treeview .unchecked:hover {
  background-position: 0 -21px;
}

/* Checked styles */

.treeview .checked { 
  background-position: 0 -81px;
}
.treeview .checked:hover { 
  background-position: 0 -101px; 
}

/* Indeterminate styles */

.treeview .custom-indeterminate { 
  background-position: 0 -141px; 
}
.treeview .custom-indeterminate:hover { 
  background-position: 0 -121px; 
}